* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.container {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #131e25;
  position: relative;
}
.title {
  text-align: center;
  padding: 20px;
  font-family: "Bungee Shade", sans-serif;
  font-size: 1.5rem;
  text-shadow: 3px 3px 10px rgb(0, 0, 0);
  color: rgb(218, 222, 107);
}
.links {
  position: sticky;
  top: 0;
}
ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 20px;
  cursor: pointer;
}
li:hover {
  background-color: rgb(255, 136, 0);
  font-size: 1rem;
  transition: all 1s ease;
  cursor: pointer;
}
li {
  border: 2px solid grey;
  padding: 15px;
  background-color: bisque;
  border-radius: 15px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
}
h2 {
  font-family: "Rampart One", sans-serif;
  color: bisque;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 400;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.My-project {
  display: flex;
  justify-content: center;
  height: 2rem;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  color: rgb(218, 222, 107);
}
.title2 {
  padding: 10px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
img {
  width: 400px;
  border: 2px solid grey;
  border-radius: 10px;
  box-shadow: 6px 6px 10px rgb(218, 222, 107);
  cursor: pointer;
}
img:hover {
  opacity: 0.6;
  transition: all 1s ease;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.contactme {
  display: flex;
  justify-content: center;
}
.icons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contactme {
  padding: 10px;
  margin-top: 50px;
}
h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  color: rgb(218, 222, 107);
  text-decoration: underline;
}

.icons {
  display: flex;
  gap: 40px;
  cursor: pointer;
}
a {
  color: bisque;
  font-weight: 700;
  font-size: 20px;
}

h4 {
  text-align: center;
  color: rgb(218, 222, 107);
  font-size: 20px;
}
.send {
  padding: 10px;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
input {
  width: 30rem;
  height: 5rem;
  border-radius: 10px;
  background-color: #131e25;
  box-shadow: 2px 2px 5px rgb(218, 222, 107);
  border-color: rgb(218, 222, 107);
  text-align: center;
  color: rgb(218, 222, 107);
}

button {
  width: 30rem;
  height: 3rem;
  background-color: rgb(218, 222, 107);
  font-size: 1.2rem;
}
button:hover {
  background-color: rgb(255, 136, 0);
  font-size: 2rem;
  transition: all 1s ease;
  cursor: pointer;
}
#message {
  height: 8rem;
}

.stiky {
  width: 5rem;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  bottom: 20px;
  right: 10px;
  background-color: rgb(218, 222, 107);
  font-size: 1.2rem;
  text-align: center;
}
.stiky:hover {
  background-color: rgb(255, 136, 0);
  transition: all 1s ease;
  cursor: pointer;
  width: 6rem;
  text-align: center;
}

.up {
  color: black;
  text-decoration: none;
}
.up:hover {
  font-size: 1.3rem;
}
